 <table id="typo3-extension-list" class="table table-striped table-hover" cellspacing="0" >
        <thead>
            <tr class="x-grid3-header">
                <th><f:translate key="srNo"/></th>
                <th width="11%"><f:translate key="title"/></th>
                <th width="11%"><f:translate key="extkey"/></th>
                <th  class="text-center"><f:translate key="compatible4"/></th>
                 <f:if condition="{sysDetail.targetVersion}>=6">
                    <th  class="text-center"><f:translate key="compatible6"/></th>
                </f:if>
                <f:if condition="{sysDetail.targetVersion}>=7">
                    <th  class="text-center"><f:translate key="compatible7"/></th>
                </f:if>
                 <f:if condition="{sysDetail.targetVersion}>=8">
                    <th  class="text-center"><f:translate key="compatible8"/></th>
                </f:if>
                <f:if condition="{sysDetail.targetVersion}>=9">
                    <th  class="text-center"><f:translate key="compatible9"/></th>
                </f:if>
                <f:if condition="{sysDetail.targetVersion}>=10">
                    <th  class="text-center"><f:translate key="compatible10"/></th>
                </f:if>
                <th><f:translate key="currentVersion"/></th>
                <th><f:translate key="state"/></th>
            </tr>
        </thead>
        <tbody>
        	<f:for each="{extensionlist}" as="extension" iteration="iter">
    			<tr {f:if(condition:iter.isOdd, then: 'class="bgColor6"', else:'class="bgColor4"' )}>
    				<td>{iter.cycle}</td>
    				<td class="ext-overview" data-uri="{f:uri.action(action: 'detail', arguments:{extKey: extension.extkey,targetVersion:sysDetail.targetVersion}, controller: 'nsextcompatibility')}" data-toggle="modal" data-target="#nsModel">
                        <f:format.crop maxCharacters="25" append="...">{extension.title}</f:format.crop>
                    </td>
    				<td class="ext-overview" data-uri="{f:uri.action(action: 'detail', arguments:{extKey: extension.extkey,targetVersion:sysDetail.targetVersion}, controller: 'nsextcompatibility')}" data-toggle="modal" data-target="#nsModel">{extension.extkey}</td>
                    <f:if condition="{extension.compatible4}">
                        <f:then>
                            <td class="compatible text-center">
                                <span class="hide-label" style="display: none;"><f:translate key="yes"/></span>
                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
                            </td>
                        </f:then>
                        <f:else>
                            <td class="incompatible text-center">
                                <span class="hide-label" style="display: none;"><f:translate key="no"/></span>
                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
                            </td>
                        </f:else>
                    </f:if>
                    <f:if condition="{sysDetail.targetVersion}>=6">
	                    <f:if condition="{extension.compatible6}==1">
	                        <f:then>
	                            <td class="compatible text-center">
	                                <span class="hide-label"><f:translate key="yes"/></span>
	                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
	                            </td>
	                        </f:then>
	                        <f:else>
	                            <td class="incompatible text-center">
	                                <span class="hide-label"><f:translate key="no"/></span>
	                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
	                            </td>
	                        </f:else>
	                    </f:if>
	                </f:if>
                    <f:if condition="{sysDetail.targetVersion}>=7">
	                    <f:if condition="{extension.compatible7}==1">
	                        <f:then>
	                            <td class="compatible text-center">
	                                <span class="hide-label"><f:translate key="yes"/></span>
	                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
	                            </td>
	                        </f:then>
	                        <f:else>
	                            <td class="incompatible text-center">
	                                <span class="hide-label"><f:translate key="no"/></span>
	                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
	                            </td>
	                        </f:else>
	                    </f:if>
	                </f:if>
                    <f:if condition="{sysDetail.targetVersion}>=8">
	                    <f:if condition="{extension.compatible8}==1">
	                        <f:then>
	                            <td class="compatible text-center">
	                                <span class="hide-label"><f:translate key="yes"/></span>
	                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
	                            </td>
	                        </f:then>
	                        <f:else>
	                            <td class="incompatible text-center">
	                                <span class="hide-label"><f:translate key="no"/></span>
	                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
	                            </td>
	                        </f:else>
	                    </f:if>
	                </f:if>
                    <f:if condition="{sysDetail.targetVersion}>=9">
	                    <f:if condition="{extension.compatible9}==1">
	                        <f:then>
	                            <td class="compatible text-center">
	                                <span class="hide-label"><f:translate key="yes"/></span>
	                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
	                            </td>
	                        </f:then>
	                        <f:else>
	                            <td class="incompatible text-center">
	                                <span class="hide-label"><f:translate key="no"/></span>
	                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
	                            </td>
	                        </f:else>
	                    </f:if>
	                </f:if>
                    <f:if condition="{sysDetail.targetVersion}>=10">
                        <f:if condition="{extension.compatible10}==1">
                            <f:then>
                                <td class="compatible text-center">
                                    <span class="hide-label"><f:translate key="yes"/></span>
                                    <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
                                </td>
                            </f:then>
                            <f:else>
                                <td class="incompatible text-center">
                                    <span class="hide-label"><f:translate key="no"/></span>
                                    <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
                                </td>
                            </f:else>
                        </f:if>
                    </f:if>
    				<td>{extension.version}</td>
    				<td><span class="ext-status-{extension.state}">{extension.state}</span></td>
    			</tr>
    		</f:for>
        </tbody>
    </table>
