<f:be.container 
    pageTitle="{f:translate(key: 'pagetitle')}" 
    enableJumpToUrl="true" 
    enableClickMenu="false" 
    loadPrototype="false" 
    loadScriptaculous="false" 
    loadExtJs="false" 
    loadExtJsTheme="true" 
    loadJQuery="true"
   includeCssFiles="{
        1:'{f:uri.resource(path:\'nsextcompatibility6/Css/main.css\')}'
    }"
    includeJsFiles="{
        0:'{f:uri.resource(path:\'nsextcompatibility6/JavaScript/Vendors/jquery-1.8.2.min.js\')}',
        1:'{f:uri.resource(path:\'nsextcompatibility6/JavaScript/Vendors/jquery.dataTables-1.9.4.min.js\')}',
        2:'{f:uri.resource(path:\'nsextcompatibility6/JavaScript/Vendors/jquery.clearable.js\')}',
        3:'{f:uri.resource(path:\'nsextcompatibility6/JavaScript/main.js\')}'
        }"
    >
    <div id="typo3-docbody">
        <div id="typo3-inner-docbody">
            <f:flashMessages renderMode="div" />
            <f:render section="Content" />
        </div>
    </div>
</f:be.container>