<div class="modal-header">
    <h4 class="modal-title">{extension.title}</h4>
    <button type="button" class="close" {f:if(condition: " {sysDetail.typo3version} > 11", then: 'data-bs-dismiss', else: 'data-dismiss')}="modal">&times;</button>
</div>
<div class="modal-body">
    <table class="ns-ext-datatable typo3-extension-list t3-table table table-striped table-hover">
        <tbody>
            <tr>
                <td width="30%"><strong><f:translate key="extkey"/></td>
                <td>{extension.key}</td>
            </tr>
            <tr>
                <td width="30%"><strong><f:translate key="description"/></strong></td>
                <td>{extension.description}</td>
            </tr>
            <f:if condition="{extension.newUplaodComment}">
                <tr>
                    <td width="30%"><strong><f:translate key="lastUpdateComment"/></strong></td>
                    <td>{extension.newUplaodComment}</td>
                </tr>
            </f:if>
            <f:if condition="{extension.newLastDate}">
                <tr>
                    <td width="30%"><strong><f:translate key="lastUpdateDate"/></strong></td>
                    <td><f:format.date format="d.m.Y">{extension.newLastDate}</f:format.date></td>
                </tr>
            </f:if>
            <f:if condition="{extension.newAlldownloadcounter}">
                <tr>
                    <td width="30%"><strong><f:translate key="alldownloadcounter"/></strong></td>
                    <td>{extension.newAlldownloadcounter}</td>
                </tr>
            </f:if>
            <tr>
                <td width="30%"><strong><f:translate key="category"/></strong></td>
                <td>{extension.category}</td>
            </tr>
            <tr>
                <td width="30%"><strong><f:translate key="state"/></strong></td>
                <td><span class="ext-status-{extension.state}">{extension.state}</span></td>
            </tr>
            <f:if condition="{extension.author}">
                <tr>
                    <td width="30%"><strong><f:translate key="author"/></strong></td>
                    <td>
                    	{extension.author}
                    	<f:if condition="{extension.author_email}"> [{extension.author_email}]</f:if>
                	</td>
                </tr>
            </f:if>
            <f:if condition="{extension.company}">
                <tr>
                    <td width="30%"><strong><f:translate key="company"/></strong></td>
                    <td>{extension.company}</td>
                </tr>
            </f:if>
            <tr>
                <td width="30%"><strong><f:translate key="currentVersion"/></strong></td>
                <td>{extension.version}</td>
            </tr>
            <tr>
                <td width="30%"><strong><f:translate key="newVersion"/></strong></td>
                <td>
                    <f:if condition="{extension.newVersion}>{extension.version}">
                        <f:then>
                          <span class="ext-status-stable">{extension.newVersion}</span>
                        </f:then>
                        <f:else>
                            {extension.version}
                        </f:else>
                    </f:if>
                 </td>
            </tr>
            <tr>
                <td width="30%"><strong><f:translate key="action"/></strong></td>
                <td>
                    <f:if condition="{extension.installed}==1">
                        <f:then>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.069" height="13.374" viewBox="0 0 17.069 13.374"><path d="M6086.667,2286.433l4.934,4.933,9.661-9.661" transform="translate(-6085.43 -2280.467)" fill="none" stroke="#79a548" stroke-width="3.5"/></svg>
                        </f:then>
                        <f:else>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.475" height="14.475" viewBox="0 0 14.475 14.475"><g transform="translate(-880.263 -885.263)"><line x2="12" y2="12" transform="translate(881.5 886.5)" fill="none" stroke="#f44" stroke-width="3.5"/><line x1="12" y2="12" transform="translate(881.5 886.5)" fill="none" stroke="#f44" stroke-width="3.5"/></g></svg>
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <f:if condition="{sysDetail.typo3version}<13">
                <f:if condition="{sysDetail.targetVersion}>=12">
                    <tr>
                        <td width="30%"><strong><f:translate key="compatible12"/></strong></td>
                        <f:if condition="{extension.customExt} != 'true'">
                            <f:then>
                                <f:if condition="{extension.compatible12}">
                                    <f:then>
                                        <td class="compatible">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17.069" height="13.374" viewBox="0 0 17.069 13.374"><path d="M6086.667,2286.433l4.934,4.933,9.661-9.661" transform="translate(-6085.43 -2280.467)" fill="none" stroke="#79a548" stroke-width="3.5"/></svg>
                                        </td>
                                    </f:then>
                                    <f:else>
                                        <td class="incompatible">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14.475" height="14.475" viewBox="0 0 14.475 14.475"><g transform="translate(-880.263 -885.263)"><line x2="12" y2="12" transform="translate(881.5 886.5)" fill="none" stroke="#f44" stroke-width="3.5"/><line x1="12" y2="12" transform="translate(881.5 886.5)" fill="none" stroke="#f44" stroke-width="3.5"/></g></svg>
                                        </td>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <td class="incompatible"><f:translate key="unknown" />
                            </f:else>
                        </f:if>
                    </tr>
                </f:if>
                <f:if condition="{sysDetail.targetVersion}>=13">
                    <tr>
                        <td width="30%"><strong><f:translate key="compatible13"/></strong></td>
                        <f:if condition="{extension.customExt} != 'true'">
                            <f:then>
                                <f:if condition="{extension.compatible13}">
                                    <f:then>
                                        <td class="compatible">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17.069" height="13.374" viewBox="0 0 17.069 13.374"><path d="M6086.667,2286.433l4.934,4.933,9.661-9.661" transform="translate(-6085.43 -2280.467)" fill="none" stroke="#79a548" stroke-width="3.5"/></svg>
                                        </td>
                                    </f:then>
                                    <f:else>
                                        <td class="incompatible">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14.475" height="14.475" viewBox="0 0 14.475 14.475"><g transform="translate(-880.263 -885.263)"><line x2="12" y2="12" transform="translate(881.5 886.5)" fill="none" stroke="#f44" stroke-width="3.5"/><line x1="12" y2="12" transform="translate(881.5 886.5)" fill="none" stroke="#f44" stroke-width="3.5"/></g></svg>
                                        </td>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <td class="incompatible"><f:translate key="unknown" />
                            </f:else>
                        </f:if>
                    </tr>
                </f:if>
            </f:if>
            <f:if condition="{extension.constraints.depends}">
                <tr>
                    <td width="30%"><strong><f:translate key="currentVersionDepend"/></strong></td>
                    <td>
                        <f:for each="{extension.constraints.depends}"  key='name' as="depends">
                            <f:if condition="{depends}">
                                <f:then>
                                    {name} => '{depends}'<br/>
                                </f:then>
                                <f:else>
                                    {name} =>'&nbsp;'<br/>
                                </f:else>

                            </f:if>
                        </f:for>
                    </td>
                </tr>
            </f:if>
            <f:if condition="{extension.constraints.conflicts}">
                <tr>
                    <td width="30%"><strong><f:translate key="conflict"/></strong></td>
                    <td>
                        <f:for each="{extension.constraints.conflicts}"  key='name' as="conflicts">
                            <f:if condition="{conflicts}">
                                <f:then>
                                    {name} => '{conflicts}'<br/>
                                </f:then>
                                <f:else>
                                    {name} =>'&nbsp;'<br/>
                                </f:else>

                            </f:if>
                        </f:for>
                    </td>
                </tr>
            </f:if>
            <f:if condition="{extension.constraints.suggests}">
                <tr>
                    <td width="30%"><strong><f:translate key="suggests"/></strong></td>
                    <td>
                        <f:for each="{extension.constraints.suggests}"  key='name' as="suggests">
                            <f:if condition="{suggests}">
                                <f:then>
                                    {name} => '{suggests}'<br/>
                                </f:then>
                                <f:else>
                                    {name} =>'&nbsp;'<br/>
                                </f:else>

                            </f:if>
                        </f:for>
                    </td>
                </tr>
            </f:if>
        </tbody>
    </table>
</div>

