<table id="typo3-extension-list" class="typo3-extension-list t3-table table table-striped table-hover">
    <thead>
        <tr class="head">
            <th><f:translate key="srNo"/></th>
            <th width="11%"><f:translate key="title"/></th>
            <th width="11%"><f:translate key="extkey"/></th>
            <f:if condition="{sysDetail.typo3version}<7">
                <f:if condition="{sysDetail.targetVersion}>=6">
                    <th  class="text-center"><f:translate key="compatible6"/></th>
                </f:if>
            </f:if>
            <f:if condition="{sysDetail.typo3version}<8">
                <f:if condition="{sysDetail.targetVersion}>=7">
                    <th  class="text-center"><f:translate key="compatible7"/></th>
                </f:if>
            </f:if>
            <f:if condition="{sysDetail.typo3version}<9">
                <f:if condition="{sysDetail.targetVersion}>=8">
                    <th  class="text-center"><f:translate key="compatible8"/></th>
                </f:if>
            </f:if>
            <f:if condition="{sysDetail.typo3version}<10">
                <f:if condition="{sysDetail.targetVersion}>=9">
                    <th  class="text-center"><f:translate key="compatible9"/></th>
                </f:if>
            </f:if>
            <f:if condition="{sysDetail.typo3version}<11">
                <f:if condition="{sysDetail.targetVersion}>=10">
                    <th  class="text-center"><f:translate key="compatible10"/></th>
                </f:if>
            </f:if>
            <f:if condition="{sysDetail.typo3version}<12">
                <f:if condition="{sysDetail.targetVersion}>=11">
                    <th  class="text-center"><f:translate key="compatible11"/></th>
                </f:if>
            </f:if>
            <th class="text-center"><f:translate key="currentVersion"/></th>
            <th class="text-center"><f:translate key="state"/></th>
        </tr>
    </thead>
    <tbody>

	    <f:for each="{extensionlist}" as="extension" iteration="iter">
	        <f:if condition="{extension.key} != 'ns_ext_compatibility'">
	            <tr>
	                <td>{iter.cycle}</td>
	                <td class="ext-overview" data-toggle="modal" data-target="#nsModel" title="{f:translate(key: 'viewDetailTooltip',arguments: {extension: extension.key})}" data-uri="{f:uri.action(action: 'detail', arguments: {extKey: extension.key,targetVersion:sysDetail.targetVersion}, controller: 'nsextcompatibility')}">
	                    <f:format.crop maxCharacters="25" append="...">{extension.title}</f:format.crop>
	                </td>
	                <td class="ext-overview" data-toggle="modal" data-target="#nsModel" title="{f:translate(key: 'viewDetailTooltip',arguments: {extension: extension.key})}" data-uri="{f:uri.action(action: 'detail', arguments: {extKey: extension.key,targetVersion:sysDetail.targetVersion}, controller: 'nsextcompatibility')}">
	                    {extension.key}
	                </td>

		            <f:if condition="{sysDetail.typo3version}<7">
		                <f:if condition="{sysDetail.targetVersion}>=6">
                            <f:if condition="{extension.customExt} != 'true'">
                                <f:then>
                                    <f:if condition="{extension.compatible6}==1">
                                        <f:then>
                                            <td class="compatible text-center">
                                                <span class="hide-label"><f:translate key="yes"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
                                            </td>
                                        </f:then>
                                        <f:else>
                                            <td class="incompatible text-center">
                                                <span class="hide-label"><f:translate key="no"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
                                            </td>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <td class="incompatible text-center"><f:translate key="unknown" />
                                </f:else>
                            </f:if>
		                </f:if>
		            </f:if>
		            <f:if condition="{sysDetail.typo3version}<8">
		                <f:if condition="{sysDetail.targetVersion}>=7">
                            <f:if condition="{extension.customExt} != 'true'">
                                <f:then>
                                    <f:if condition="{extension.compatible7}==1">
                                        <f:then>
                                            <td class="compatible text-center">
                                                <span class="hide-label"><f:translate key="yes"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
                                            </td>
                                        </f:then>
                                        <f:else>
                                            <td class="incompatible text-center">
                                                <span class="hide-label"><f:translate key="no"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
                                            </td>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <td class="incompatible text-center"><f:translate key="unknown" />
                                </f:else>
                            </f:if>
		                </f:if>
		            </f:if>
		            <f:if condition="{sysDetail.typo3version}<9">
		                <f:if condition="{sysDetail.targetVersion}>=8">
                            <f:if condition="{extension.customExt} != 'true'">
                                <f:then>
                                    <f:if condition="{extension.compatible8}==1">
                                        <f:then>
                                            <td class="compatible text-center">
                                                <span class="hide-label"><f:translate key="yes"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
                                            </td>
                                        </f:then>
                                        <f:else>
                                            <td class="incompatible text-center">
                                                <span class="hide-label"><f:translate key="no"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
                                            </td>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <td class="incompatible text-center"><f:translate key="unknown" />
                                </f:else>
                            </f:if>
		                </f:if>
		            </f:if>
		            <f:if condition="{sysDetail.typo3version}<10">
		                <f:if condition="{sysDetail.targetVersion}>=9">
                            <f:if condition="{extension.customExt} != 'true'">
                                <f:then>
                                    <f:if condition="{extension.compatible9}==1">
                                        <f:then>
                                            <td class="compatible text-center">
                                                <span class="hide-label"><f:translate key="yes"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
                                            </td>
                                        </f:then>
                                        <f:else>
                                            <td class="incompatible text-center">
                                                <span class="hide-label"><f:translate key="no"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
                                            </td>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <td class="incompatible text-center"><f:translate key="unknown" />
                                </f:else>
                            </f:if>
		                </f:if>
		            </f:if>
                    <f:if condition="{sysDetail.typo3version}<11">
                        <f:if condition="{sysDetail.targetVersion}>=10">
                            <f:if condition="{extension.customExt} != 'true'">
                                <f:then>
                                    <f:if condition="{extension.compatible10}==1">
                                        <f:then>
                                            <td class="compatible text-center">
                                                <span class="hide-label"><f:translate key="yes"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
                                            </td>
                                        </f:then>
                                        <f:else>
                                            <td class="incompatible text-center">
                                                <span class="hide-label"><f:translate key="no"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
                                            </td>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <td class="incompatible text-center"><f:translate key="unknown" />
                                </f:else>
                            </f:if>
                        </f:if>
                    </f:if>
                    <f:if condition="{sysDetail.typo3version}<12">
                        <f:if condition="{sysDetail.targetVersion}>=11">
                            <f:if condition="{extension.customExt} != 'true'">
                                <f:then>
                                    <f:if condition="{extension.compatible11}">
                                        <f:then>
                                            <td class="compatible text-center">
                                                <span class="hide-label"><f:translate key="yes"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/righ-icon.png" width="12" height="12" />
                                            </td>
                                        </f:then>
                                        <f:else>
                                            <td class="incompatible text-center">
                                                <span class="hide-label"><f:translate key="no"/></span>
                                                <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Backend/Icons/crose-icon.png" width="12" height="12" />
                                            </td>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <td class="incompatible text-center"><f:translate key="unknown" />
                                </f:else>
                            </f:if>
                        </f:if>
                    </f:if>
		            <td class="text-center" data-toggle="modal" data-target="#extModel-{iter.cycle}">{extension.version}</td>
		            <td class="text-center">
			           <span class="ext-status-{extension.state}">{extension.state}</span>
		            </td>
	            </tr>
	        </f:if>
	    </f:for>
    </tbody>
</table>
