<f:layout name="Default" />

<f:section name="content">
	<f:if condition="{installedVersion}>'7.2.0'">
        <f:then>
            <f:if condition="{installedVersion}<{ltsVersion}">
                <div class="alert alert-notice alert-dismissible" role="alert">
                    <f:translate key="t3-ltsVersion" arguments="{s: ltsVersion}"/>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>       
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{installedVersion}<{ltsVersion}">
                <div class="typo3-message message-notice">
                    <f:translate key="t3-ltsVersion" arguments="{s: ltsVersion}"/>
                </div>
            </f:if>
        </f:else>
    </f:if>
    
    <f:render partial="Common/Main" arguments="{overviewReport:overviewReport,sysDetail:sysDetail,targetSystemRequirement:targetSystemRequirement}"/>
    <div class="ext-report-wrapper">
	    <h2><f:translate key="extensionlist"/></h2>
	    <f:render partial="Nsextcompatibility4/ExtTable" arguments="{sysDetail:sysDetail,extensionlist:extensionlist}"/>
	    <p class="contactnote"><f:translate key="contactNote"/><f:link.external  uri="https://github.com/nitsan-technologies/ns_ext_compatibility/issues/" title="{f:translate(key: 'viewTERTooltip')}" target="_blank"><f:translate key="github"/></f:link.external></p>
    </div>
    <f:render partial="Common/NsModel" />
</f:section>