<table class="typo3-extension-list t3-table table table-striped table-hover" cellspacing="0">
	<thead>
		<tr class="x-grid3-header">
			<th colspan="2"><h2><f:translate key="sysInfo"/></h2></th>
		</tr>
	</thead>
	<tbody>
		<tr class="bgColor6">
			<td width="50%"><f:translate key="currentTypo3Version"/></td>
			<td><strong>{sysDetail.typo3version}</strong></td>
		</tr>
		<tr class="bgColor4">
			<td><f:translate key="targetTypo3Version"/></td>
			<td><strong>{sysDetail.targetVersion}</strong></td>
		</tr>
		<tr class="bgColor6">
			<td width="30%"><f:translate key="langague"/></td>
			<td><strong>{sysDetail.totalLang}</strong></td>
		</tr>
		<tr class="bgColor4">
			<td><f:translate key="totalPagesofSite"/></td>
			<td><strong>{sysDetail.totalPages}</strong></td>
		</tr>
        <f:if condition="{sysDetail.totalDomain}">
            <tr class="bgColor6">
                <td><f:translate key="numberOfDomain"/></td>
                <td><strong>{sysDetail.totalDomain}</strong></td>
            </tr>
        </f:if>
		<tr class="bgColor4">
			<td><f:translate key="phpVersion"/></td>
			<td><strong>{sysDetail.phpversion}</strong></td>
		</tr>
	</tbody>
</table>
