@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body {
    padding: 40px;
    font-size: 13px;
    line-height: 1.5em;
    color: #000;
    font-weight: 400;
    font-family:'Roboto', sans-serif;
}
h1, h2, h3, h4 {
    font-weight: 500;
}
h1 {
    font-family: roboto;
}
tr.head:hover,.ext-overview:hover{
    cursor: pointer;
}
.modal {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
.modal-dialog {
    position: relative !important;
    width: 100% !important;
    max-width: 900px !important;
    margin: 60px auto !important;
}
.modal-content {
    width: 100%;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}
.close {
    color: #000;
    float: right;
    font-size: 30px;
    font-weight: 700;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
    background: rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
    line-height: inherit;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.modal-header .close {
    margin-top: -2px;

}
.close:focus, .close:hover {
    background: rgba(0, 0, 0, 0);
    color: #000;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}
.modal-body {
    padding: 2px 16px;
    max-height: 65vh;
    overflow: auto;
    position: relative;
}
.modal-body table{
    width: 100%
}
.btn-export{
    float:right;
    border: none;
    color: white;
    background-color:#2196F3;
    padding: 10px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1px;
}
.btn-export:hover{
    text-decoration:none;
    background-color:#4CAF50;
}
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
th {
    font-weight: 500 !important;
}
.ext-report-wrapper {
    margin: 0 0 30px;
    position: relative;
}
.ext-report-wrapper h2 {
    margin: 0 0 15px;
}
.dataTables_filter {
    position: absolute;
    right: 0;
    top: -5px;
}
input, textarea, button {
    border-radius: 0;
    height: 23px;
    margin: 0 0 0 8px;
}
div#typo3-docbody {
    bottom: inherit;
    overflow: inherit;
    top: 0;
}
.modal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
#typo3-docbody + .modal-overlay{
    display: none !important;
}
.modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}
.modal-body {
    padding: 15px;
    position: relative;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}
.modal-title {
    line-height: 1.42857;
    margin: 0;
    font-size: 19px;
}
strong,b{
    font-weight: 500;
}
.table h2 {
    color: inherit;
    margin: 5px 0;
}
a.btn-export.disabled {
    pointer-events: none;
}
.ext-title{
    display: inline-block;
    width: 100%;
}
.ext-title h1{
    float: left;
}
.ext-title form,
.ext-title .btn-export{
    float: right;
}
.dataTables_filter  input[type="search"],
.form-inline  select{
    font-weight: 500;
    -moz-appearance: none;
    -webkit-appearance: none;
    -appearance: none;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
    font-size: 14px;
    height: 38px;
    outline: medium none;
    padding: 0 15px;
    min-width: 120px;
    display: block;
    margin: 0;
    line-height: 1.5;
    width: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ext-title form, .ext-title .btn-export {
    float: right;
    margin-left: 20px;
}
.ns-btn,.btn-export{
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    min-width: 120px;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.btn-export:hover,
.btn-export:focus,
.ns-btn:hover,
.ns-btn:focus{
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
.ns-table-wrap{
    display: inline-block;
    width: 100%;
}

.dataTables_filter .form-control-clearable {
    float: right;
    margin-left: 13px;
    position: relative;
    top: -8px;
}
.form-control-clearable .close {
    height: 16px;
    position: absolute;
    right: 0.5em;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    z-index: 3;
}
button.close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.dataTables_filter .icon {
  position: relative;
  top: -9px;
}

.ter-ext-state.ter-ext-state-stable, .ext-status-stable{
   color:#3db900!important;
}
.ter-ext-state.ter-ext-state-beta, .ext-status-beta{
    color:#f4bd00!important;
}
.ter-ext-state.ter-ext-state-alpha, .ext-status-alpha{
    color:#f14400!important;
}
.hide-label{
    display: none;
}
.terLink{
    margin-left: 5px;
}
.contactnote{
    text-align: center;
}
.contactnote a{
    color:#5f8c9f;
}
.upgradeLabel{
    float: right;
    margin:10px -12px;
 }
 #extensionAllVersionlist_filter{
    position: relative;
    float: right;
 }

.allVersionModelboxTitle{
    margin-bottom:0px;
 }
 .extAllVersionHeaderTable{
    width: 50%;
 }
.ter-ext-state{
    text-transform:capitalize!important;
}
.allVersionModelboxTitle {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
}
table.t3-table tbody td a {
 text-decoration: none;
}


select.form-control:not([size]):not(.form-select-no-siblings), select.form-control[size="1"]:not(.form-select-no-siblings) {
    background-image: url('../../Public/Icons/actions-view-list-expand.svg');
    background-position: right 4px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-right: 24px;
}
.ext-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}
.ext-wrapper img {
    left: 50%;
    max-width: 100px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a:hover,a:focus{
    text-decoration: none!important;
}