/****************************************************************************
 * Fonts
 ***************************************************************************/

 /*Verdana Regular*/
 @font-face {
    font-family: 'Verdana';
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Verdana-Regular.woff2') format('woff2'),
      url('../fonts/Verdana-Regular.woff') format('woff'),
      url('../fonts/Verdana-Regular.ttf') format('truetype');
  }

   /*Verdana Bold*/
   @font-face {
     font-family: 'Verdana';
     font-stretch: normal;
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/Verdana-Bold.woff2') format('woff2'),
       url('../fonts/Verdana-Bold.woff') format('woff'),
       url('../fonts/Verdana-Bold.ttf') format('truetype');
   }

  /*SourceSansPro Regular*/
  @font-face {
    font-family: 'SourceSansPro';
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
      url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
      url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
 }


 html, body {
     font-size: 12px;
     overflow: auto;
 }

 body {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     color: #212424;
     font-weight: 400;
 }
body {
    padding: 40px;
}
h1, h2, h3, h4 {
    font-weight: 500;
}
tr.head:hover,.ext-overview:hover{
    cursor: pointer;
}
.modal {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
.modal-dialog {
    position: relative !important;
    width: 100% !important;
    max-width: 900px !important;
    margin: 60px auto !important;
}
.modal-content {
    width: 100%;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}
.close {
    color: #000;
    float: right;
    font-size: 30px;
    font-weight: 700;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
    background: rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
    line-height: inherit;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.modal-header .close {
    margin-top: -2px;

}
.close:focus, .close:hover {
    background: rgba(0, 0, 0, 0);
    color: #000;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}
.modal-body {
    padding: 2px 16px;
    max-height: 65vh;
    overflow: auto;
    position: relative;
}
.modal-body table{
    width: 100%
}
.tx-ext-compatibility table{
    border: 1px solid #ccc;
}
.btn-export{
    float:right;
    border: none;
    color: white;
    background-color:#2196F3;
    padding: 10px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1px;
}
.btn-export:hover{
    text-decoration:none;
    background-color:#4CAF50;
}
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
th {
    font-weight: 500;
}
.ext-report-wrapper {
    margin: 0 0 30px;
    position: relative;
}
.ext-report-wrapper h2 {
    margin: 0 0 15px;
}
.dataTables_filter {
    position: absolute;
    right: 0;
    top: 0;
}
input, textarea, button {
    border-radius: 0;
    height: 23px;
    margin: 0 0 0 8px;
}
div#typo3-docbody {
    bottom: inherit;
    overflow: inherit;
    top: 0;
}
.modal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
#typo3-docbody + .modal-overlay{
    display: none !important;
}
.modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}
.modal-body {
    padding: 15px;
    position: relative;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}
.modal-title {
    line-height: 1.42857;
    margin: 0;
    font-size: 19px;
}
strong,b{
    font-weight: 700;
}
.table h2 {
    color: inherit;
    margin: 5px 0;
}
a.btn-export.disabled {
    pointer-events: none;
}
.ext-title{
    display: inline-block;
    width: 100%;
}
.ext-title h1{
    float: left;
}
.ext-title form,
.ext-title .btn-export{
    float: right;
}
.dataTables_filter  input[type="search"],
.form-inline  select{
    font-weight: 500;
    -moz-appearance: none;
    -webkit-appearance: none;
    -appearance: none;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
    font-size: 14px;
    height: 38px;
    outline: medium none;
    padding: 0 15px;
    min-width: 120px;
    display: block;
    margin: 0;
    line-height: 1.5;
    width: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ext-title form, .ext-title .btn-export {
    float: right;
    margin-left: 20px;
}
.ns-btn,.btn-export{
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    min-width: 120px;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.btn-export:hover,
.btn-export:focus,
.ns-btn:hover,
.ns-btn:focus{
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
.ns-table-wrap{
    display: inline-block;
    width: 100%;
}

.dataTables_filter .form-control-clearable {
    float: right;
    margin-left: 13px;
    position: relative;
    /* top: -8px; */
}
.form-control-clearable .close {
    height: 16px;
    position: absolute;
    right: 0.5em;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    z-index: 3;
}
button.close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.dataTables_filter .icon {
  position: relative;
  top: -9px;
}

.ter-ext-state.ter-ext-state-stable, .ext-status-stable{
   color:#3db900!important;
}
.ter-ext-state.ter-ext-state-beta, .ext-status-beta{
    color:#f4bd00!important;
}
.ter-ext-state.ter-ext-state-alpha, .ext-status-alpha{
    color:#f14400!important;
}
.hide-label{
    display: none;
}
.terLink{
    margin-left: 5px;
}
.contact-note {
    align-items: center;
    display: flex;
}
.contact-note,
.contact-note a:hover {
    color: #000000;
}
.contact-note a {
    color: #0075FE;
    margin-left: 5px;
}
.contact-note__icon {
    margin-right: 8px;
    font-size: 16px;
}
.upgradeLabel{
    float: right;
    margin: 8px 0;
    color: #000;
 }
 #extensionAllVersionlist_filter{
    position: relative;
    float: right;
 }

.allVersionModelboxTitle{
    margin-bottom:0px;
 }
 .extAllVersionHeaderTable{
    width: 50%;
 }
.ter-ext-state{
    text-transform:capitalize!important;
}
.allVersionModelboxTitle {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
}
table.t3-table tbody td a {
 text-decoration: none;
}


select.form-control:not([size]):not(.form-select-no-siblings), select.form-control[size="1"]:not(.form-select-no-siblings) {
    background-image: url('../Icons/actions-view-list-expand.svg');
    background-position: right 4px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-right: 24px;
}
.ext-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}
.ext-wrapper img {
    left: 50%;
    max-width: 100px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a:hover,a:focus{
    text-decoration: none!important;
}

/*
New Common Style
*/
.ns-ext-name {
    color: #000;
    font-family: 'SourceSansPro';
    font-size: 27px;
    line-height: normal;
    padding: 0;
    margin-bottom: 12px;
}

.btn .btn__icon {
    margin-right: 5px;
    min-width: 20px;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
}

.btn-gray,
.btn-gray.disabled {
    color: #212424;
}

.btn-gray {
    background-color: #eaeaea;
    border-color: #ccc;
    font-size: 12px;
    padding: 5px 9px;
}

.btn-gray:focus,
.btn-gray:hover {
    background-color: #d7d7d7;
}

.btn.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 12px;
    padding: 10px 20px;
}

.btn.btn-primary:hover {
    background-color: #0062cc;
    border-color: #0062cc;
}

.ns-ext-form .form-control,
.btn.btn-primary {
    font-size: 12px;
}

.custom-card {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-color: #ccc;
    box-shadow: none;
    margin-bottom: 30px;
}

.custom-card .card-header {
    background-color: #eaeaea;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.custom-card .card-header h5 {
    color: #212424;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}

.custom-card .card-body {
    padding: 30px 20px;
}
.custom-card .card-body > :last-child {
    margin-bottom: 0;
}
.ns-ext-form .form-control {
    border-color: #ccc;
    border-radius: 2px;
    box-shadow: none;
    color: #212424;
    height: 32px;
    padding-left: 15px;
}

.ns-ext-datatable .thead-light tr th,
.ns-ext-datatable tbody tr td {
    color: #212424;
}

.ns-ext-datatable thead tr th,
.ns-ext-datatable tbody tr td {
    padding-left: 15px;
}

.ns-ext-datatable.table>thead>tr>th {
    border-color: #ccc;
    background-color: #eaeaea;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ns-ext-datatable tr:nth-child(odd) td {
    background-color: #fafafa;
}
.ns-ext-datatable tr:nth-child(even) td {
    background-color: #fff;
}
.ext-status-stable {
    text-transform: capitalize;
    color: #79A548;
}

.ns-table-wrap .typo3-extension-list th {
    font-size: 14px;
}
.ns-ext-report-list-table-wrap .dataTables_info,
.ns-ext-report-modal .dataTables_info {
    display: none;
}
.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 400;
}

.dataTables_wrapper .dataTables_length .form-control,
.dataTables_wrapper .dataTables_filter .form-control,
.ns-ext-report-modal .dataTables_filter .t3js-clearable {
    height: 30px;
    line-height: normal;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ns-ext-datatable .head .sorting {
    position: relative;
}
.ns-ext-datatable .head .sorting_asc:after,
.ns-ext-datatable .head .sorting_desc:after,
.ns-ext-datatable .head .sorting:after {
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 20px;
    width: 17px;
    display: inline-block;
    margin-left: 5px;
    position: absolute;
}
.ns-ext-datatable .head .sorting:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='17' viewBox='0 0 12 17'%3E%3Cg transform='translate(-1555 -514.332)'%3E%3Crect  width='12' height='17' transform='translate(1555 514.332)' fill='none'/%3E%3Cpath d='M2.5,0,5,4H0Z' transform='translate(1559 517.332)' fill='%23ccc'/%3E%3Cpath  d='M2.5,0,5,4H0Z' transform='translate(1564 529.332) rotate(180)' fill='%23ccc'/%3E%3C/g%3E%3C/svg%3E");
}
.ns-ext-datatable .head .sorting_desc:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='17' viewBox='0 0 12 17'%3E%3Cg transform='translate(-1555 -514.332)'%3E%3Crect  width='12' height='17' transform='translate(1555 514.332)' fill='none'/%3E%3Cpath d='M2.5,0,5,4H0Z' transform='translate(1559 517.332)' fill='%23ccc'/%3E%3Cpath  d='M2.5,0,5,4H0Z' transform='translate(1564 529.332) rotate(180)' fill='%23212424'/%3E%3C/g%3E%3C/svg%3E");
}
.ns-ext-datatable .head .sorting_asc:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='17' viewBox='0 0 12 17'%3E%3Cg transform='translate(-1555 -514.332)'%3E%3Crect  width='12' height='17' transform='translate(1555 514.332)' fill='none'/%3E%3Cpath d='M2.5,0,5,4H0Z' transform='translate(1559 517.332)' fill='%23212424'/%3E%3Cpath  d='M2.5,0,5,4H0Z' transform='translate(1564 529.332) rotate(180)' fill='%23ccc'/%3E%3C/g%3E%3C/svg%3E");
}
.ns-ext-report-list-table-wrap {
    overflow-x: auto;
    width: 100%;
}

.ns-ext-report-list-table-wrap tr td svg {
    display: inline-block;
    vertical-align: middle;
}
.ns-ext-row-actions a:not(:last-child) {
    margin-right: 5px;
}
.ns-ext-row-actions a {
    line-height: normal;
}
.ns-ext-report-modal .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ns-ext-report-modal .modal-header::after,
.ns-ext-report-modal .modal-body:after {
    display: none;
}
.ns-ext-report-modal .modal-header .close {
    margin-top: 0;
    line-height: normal;
    height: auto;
    opacity: 1;
}
.ns-ext-report-modal .ns-ext-datatable tr th,
.ns-ext-report-modal .ns-ext-datatable tr td {
    padding-right: 20px;
}
.alert-warning .close {
    top: -5px;
}
.alert-warning .close span {
    height: 24px;
    line-height: 24px;
    display: inherit;
}
.modal-backdrop.show{
    z-index: 999!important;
}
@media(min-width: 993px) {
    .ns-ext-report-list-table-wrap thead tr th,
    .ns-ext-report-list-table-wrap tbody tr td {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .ns-ext-report-list-main {
        margin-top: 30px;
    }
}
@media(max-width: 1600px) {
    .ns-ext-report-list-table-wrap .ns-ext-datatable {
        min-width: 1700px;
    }
}
@media(max-width: 992px) {
    .ns-ext-report-list-table-wrap thead tr th,
    .ns-ext-report-list-table-wrap tbody tr td {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}
@media(max-width: 767px) {
    .extAllVersionHeaderTable{
        width: 100%;
    }
    .ns-ext-report-list-table-wrap .dataTables_filter {
        position: relative;
    }
    .ext-report-target-system {
        width: 100%;
        overflow-x: auto;
    }
    .ext-report-target-system .ns-ext-datatable {
        min-width: 600px;
    }
}

.v8-close {
    top: -5px !important;
    font-size: 16px !important;
}

.v11-close {
    top: 46% !important;
    transform: translateY(-50%) !important;
}

.typo3-fullDoc {
    overflow: auto;
    height: 100%;
}
