.contactnote{
	margin-top: 20px;
}
.viewAllVersionExtDetail th{
	color:#000;
}
.modal-body table.viewAllVersionExtDetail{
	width: 50%;
}
.dataTables_filter .t3-icon {
    position: absolute;
    right: 3px;
    top: 7px;
    z-index: 9;
}
.ext-title h1{
	font-size:2.3em;
}
h2{
	font-size: 1.4em;
}
/*.t3-button, input, textarea, button {
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    padding: 3px 6px;
    vertical-align: middle;
    border-radius: unset;
}*/